body{
    margin:0;
    background-image: url("/Pictures/background-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}


a{
    text-decoration: none;
    color: white;
}

.PageContainer{
    display:inline-block;
    width:375px;
    height:667px;
}



